<br/>
<h3 class="text-center">Admin Dashboard</h3>

<div class="row p-3">
   
    <div class="col">

        <div class="card img-thumbnail" style="width: 15rem;">
            <img height="150" width="300" src='../../../../assets/event-in-UAE.jpg' class="card-img-top" alt="...">
            <div class="card-body">
                <a [routerLink]="['/admin/eventlist/']" class="text-decoration-none">
                    <h5 class="card-title">Manage Events</h5>
                    <p class="card-text">Add / View or Delete Events</p>
                </a>

            </div>
        </div>

    </div>
    <div class="col">

        <div class="card img-thumbnail" style="width: 15rem;">
            <img height="150" width="300" src='../../../../assets/special-offer-sticker-vector-20942359.jpg' class="card-img-top" alt="...">
            <div class="card-body">
                <a [routerLink]="['/admin/offerslist/']" class="text-decoration-none">
                    <h5 class="card-title">Manage Offers</h5>
                    <p class="card-text">Add / View or Delete Offers</p>
                </a>

            </div>
        </div>

    </div>
    <div class="col">

        <div class="card img-thumbnail" style="width: 15rem;">
            <img height="150" width="300" src='../../../../assets/equality_handshake.jpg' class="card-img-top" alt="...">
            <div class="card-body">
                <a [routerLink]="['/admin/sponserslist/']" class="text-decoration-none">
                    <h5 class="card-title">Manage Sponsers</h5>
                    <p class="card-text">Add / View or Delete Sponsers</p>
                </a>

            </div>
        </div>

    </div>
    <div class="col">

            <div class="card img-thumbnail" style="width: 15rem;">
                <img height="150" width="300" src='../../../../assets/twitterlists-TA.jpg' class="card-img-top" alt="...">
                <div class="card-body">
                    <a [routerLink]="['/admin/userlist/']" class="text-decoration-none">
                        <h5 class="card-title">Registered Users</h5>
                        <p class="card-text">Add / View or Delete User Lists</p>
                    </a>
    
                </div>
            </div>
    
        </div>
</div>