
<table class="table">
    <thead>
        <tr>
            <th> Sr No   </th>
            <!-- <th> Image </th> -->
            <th> Name </th>
            <th> Email </th>
            <th> Gender </th>
            <th> Contact </th>
            <th> age </th>
            <!-- <th> Occupation </th> -->
            <th> Events </th>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor="let item of user; let i = index">
                <td> {{i+1}} </td>
                <!-- <td> <img height="100px" width="150px" [src]="this.path + item.imagepath"/> </td> -->
                <td> {{item.name}} </td>
                <td> {{item.email}}</td>
                <td> {{item.gender}}</td>
                <td> {{item.contact}}</td>
                <td> {{item.age}}</td>
                <!-- <td> {{item.occupation}}</td> -->
                <td><div *ngFor="let tempEvent of event"><p *ngIf="tempEvent._id==item.event">{{tempEvent.name}}</p></div></td>
                <td> 
                    <button class="btn btn-danger" (click) = "DeleteData(item._id)"> Delete </button>
                    &nbsp;
                    <!-- <a [routerLink]="['/edit/',item._id]" class="btn btn-info">Edit</a>   -->
                </td>
            </tr>
        </tbody>
</table>
