<div class="form-group p-3">
  
        <a [routerLink]="['/admin/addsponser/']"   class="btn btn-success">Add New Sponser</a>
          
</div>
<table class="table">
    <thead>
        <tr>
            <th> Sr No   </th>
            <th> Image </th>
            <th> Name </th>
            <th> Description </th>
            <th> Events </th>
            <th> Action </th>
            
        </tr>
    </thead>
    <tbody>
            <tr class="" *ngFor="let item of sponser; let i = index">
                <td> {{i+1}} </td>
                <td> <img height="100px" width="150px" [src]="this.path + item.imagePath"/> </td>
                <td> {{item.name}} </td>
                <td> {{item.description}}</td>
                <td><div *ngFor="let temp of item.events"><div *ngFor="let tempEvent of event"><p *ngIf="tempEvent._id==temp">{{tempEvent.name}}</p></div></div></td>

                <td> 
                    <button class="btn btn-danger" (click) = "DeleteData(item._id,i)"> Delete </button>
                    &nbsp;
                    <!-- <a [routerLink]="['/edit/',item._id]" class="btn btn-info">Edit</a>   -->
                </td>
            </tr>
        </tbody>
</table>
